<div id="topNavigationTab">
    <div class="linkVisit"><a href="/">Home</a></div>
    <div class="linkVisit"><a href="/about">About</a></div>
    <div class="linkVisit"><a href="/training">Training</a></div>
    <div class="linkVisit"><a href="/contact">Contact</a></div>
</div>
<div id="primaryPic">
    <div class="picture">
        <div id="primaryPictureTitle">GHS Chess Club</div>
        <div id="secondaryPictureTitle">Created for the Chess Club at Grant</div>
    </div>
</div>
<div class="layer1">
    <div class="layer2">
        <div class="layertext">
            <h1>FAQ</h1>
            <h2>What is the purpose of this website?</h2>
            <p>The primary purpose of this website is to alert members of the chess club of upcoming tournaments and other information involving attending tournaments. However, this website also provides information to Grant student on how
                to join and be a part of the club. Also, if you are wondering how you can play chess online, consider looking <a href="/training">here.</a></p><br>
            <h2>What is the history of this chess club?</h2>
            <p>The chess club has been around for 8 years and was founded by Mr. Aslanyan. Our school has participated in a few tournaments in the past, but we plan to participate in way more. As of now we do not have any wins.</p><br>
            <h2>How can I join a tournament?</h2>
            <p>Our current two club sponsors are David Guest and Oganes Aslanyan, both of whom are teachers at Grant. They are our coaches and they direct us to tournaments that we can participate in.
                If you want to join a tournament with our team, you will have to enroll in our club. Our team name is our mascot, the Grant Lancers.</p><br>
            <h2>How dedicated is this club?</h2>
            <p>Our club consists of students from 9th to 12th grade. Everybody usually meets up to play during lunch and nutrition. Currently, we started having after-school meetings at Bungalow 12. However, when some of us are practicing outside of the chess club,
                we typically use <a href=https://www.chess.com/>chess.com</a> or <a href=http://www.chesstimeapp.com/>chesstime.</a></p><br>
            <h1>Photos from our most recent tournament in Birmingham High School</h1>
            <h3>April 27, 2019</h3>
            <div id="tournamentPicture">
                <div class="tourPic"></div><br>
                <div class="tourPic2"></div><br>
                <div class="tourPic3"></div><br>
            </div>
        </div>
    </div>
</div>