<div id="topNavigationTab">
    <div class="linkVisit"><a href="/">Home</a></div>
    <div class="linkVisit"><a href="/about">About</a></div>
    <div class="linkVisit"><a href="/training">Training</a></div>
    <div class="linkVisit"><a href="/contact">Contact</a></div>
</div>
<div id="primaryPic">
    <div class="picture">
        <div id="primaryPictureTitle">GHS Chess Club</div>
        <div id="secondaryPictureTitle">Created for the Chess Club at Grant</div>
    </div>
    <div class="picture2"></div>
    <div class="picture3"></div>
</div>
<div class="layer1">
    <div class="layer2">
        <h1>Contact</h1>
        <div class="layertext">
            <p>If you are looking to contact the sponsors of the club, then click <a href="https://www.granths.org/apps/pages/index.jsp?uREC_ID=624584&type=u&pREC_ID=1529768">here</a> to email Mr. Guest,
                or click <a href="https://www.granths.org/apps/albums/personal/624554/0?uREC_ID=624554&backTitle=Mr.+Oganes+Aslanyan&backLink=%2Fapps%2Fpages%2Findex.jsp%253Ftype%3Du%2526uREC_ID%3D624554">here</a> to email Mr. Aslanyan.</p><br />
            <p>*Phones numbers*... *Email addresses*... *Photos*...</p><br />
        </div>
    </div>
</div>
<h4>GHSchessclub.com designed and programmed by Ernest Jinian. Artwork created by Victoria Rafaelian.</h4>