<div id="topNavigationTab">
    <div class="linkVisit"><a href="/">Home</a></div>
    <div class="linkVisit"><a href="/about">About</a></div>
    <div class="linkVisit"><a href="/training">Training</a></div>
    <div class="linkVisit"><a href="/contact">Contact</a></div>
</div>
<div id="sidePic">
    <div class="picture2"></div>
    <div class="picture3"></div>
</div>
<div id="primaryPic">
    <div class="picture">
        <div id="primaryPictureTitle">GHS Chess Club</div>
        <div id="secondaryPictureTitle">Created for the Chess Club at Grant</div>
    </div>
</div>
<div class="layer1">
    <div class="layer2">
        <h1>Announcements</h1>
        <div class="layertext">
            <p>Hello Grant students! I am making this announcement to remind everybody to stay and practice chess at home! Since we will not see each other at school anymore, we should play online so that we do not lose our skills. Hopefully we can see each other soon once things get better. Stay safe lancers.</p><br />
            <div id="datepicker"></div><br>
            <p>For more information about Ulysses S. Grant High School, consider visiting their <a href=https://www.granths.org/>website.</a></p><br />
            <p>If you are interested in other clubs/activities at Grant, here is where you will find a variety on their <a href=https://www.granths.org/apps/departments/index.jsp?show=CLU>website.</a></p><br />
        </div>
    </div>
</div>