<div id="topNavigationTab">
    <div class="linkVisit"><a href="/">Home</a></div>
    <div class="linkVisit"><a href="/about">About</a></div>
    <div class="linkVisit"><a href="/training">Training</a></div>
    <div class="linkVisit"><a href="/contact">Contact</a></div>
</div>
<div id="primaryPic">
    <div class="picture">
        <div id="primaryPictureTitle">GHS Chess Club</div>
        <div id="secondaryPictureTitle">Created for the Chess Club at Grant</div>
    </div>
    <div class="picture2"></div>
    <div class="picture3"></div>
</div>
<div class="layer1">
    <div class="layer2">
        <h1>Announcements</h1>
        <div class="layertext">
            <p>School starts on the 20th of August. Make sure you sign up for the chess club and attend it during the first week. It is hosted at Mr. Guest's classroom in the 100 building.</p><br />
            <div id="datepicker"></div><br>
            <p>For more information about Ulysses S. Grant High School, consider visiting their <a href=https://www.granths.org/>website.</a></p><br />
            <p>If you are interested in other clubs/activities at Grant, here is where you will find a variety on their <a href=https://www.granths.org/apps/departments/index.jsp?show=CLU>website.</a></p><br />
        </div>
    </div>
</div>