<div id="topNavigationTab">
    <div class="linkVisit"><a href="/">Home</a></div>
    <div class="linkVisit"><a href="/about">About</a></div>
    <div class="linkVisit"><a href="/training">Training</a></div>
    <div class="linkVisit"><a href="/contact">Contact</a></div>
</div>
<div id="primaryPic">
    <div class="picture">
        <div id="primaryPictureTitle">GHS Chess Club</div>
        <div id="secondaryPictureTitle">Created for the Chess Club at Grant</div>
    </div>
    <div class="picture2"></div>
    <div class="picture3"></div>
</div>
<div class="layer1">
    <div class="layer2">
        <div class="layertext">
            <h1>Training</h1><br>
            <div id="trainingPicture">
                <div class="trainingpic"></div><br>
            </div>
            <h2>Chess.com</h2><br />
            <p>Chess.com is the most popular virtual chess website and app. It is free without membership, although membership is not required in order to play and train.
            You can download the app on your phone without making an account and still play against bots. However, if you want to keep track of your progress and play against real people online, you will have to make an account.
            After you make an account, go to the home page, hover over the play tab in the top left, and click New Game.</p><br>
            <div id="trainingPicture">
                <div class="trainingpic2"></div><br>
            </div>
            <p>Now you can change the game settings however you want and begin playing with people online.</p><br>
            <div id="trainingPicture">
                <div class="trainingpic3"></div><br>
            </div>
            <p>As you play, you can check your progress through the statistics tab. It will display your rating and how it has changed over time. Your rating will change each time you play, whether you win or lose against somebody.
            It will also change for minigames. Your rating will not change if you play against bots.</p><br>
            <div id="trainingPicture">
                <div class="trainingpic5"></div><br>
                <div class="trainingpic4"></div><br>
            </div>
            <p>If you want to practice chess by playing puzzles, hover over the Learn tab and click Puzzles(Tactics). You will be given three options: puzzles with ratings, puzzles for learning, and puzzle rush. Unfortunately,
            puzzles are very limited and you will have to pay for a membership to get unlimited puzzles, unless you enjoy playing a few puzzles daily.</p><br>
            <div id="trainingPicture">
                <div class="trainingpic7"></div><br>
                <div class="trainingpic6"></div><br>
            </div>
        </div>
    </div>
</div>
